DB_USER=postgres
DB_NAME=teslo-shop
DB_PASSWORD=123456

# https://developer.paypal.com/dashboard/applications/edit/SB:QkFBMWhCSElCb2pMajNnNjJhWF9QXzh3d0g3WlVUaFBnUkUwWkpuT05Dam5Zc2ZPUlAyQURaNWFXcVVZdkk2bndzNkF0dC1lZklxcHcxNWhsOA==
NEXT_PUBLIC_PAYPAL_CLIENT_ID=""
PAYPAL_SECRET_KEY=""

AUTH_URL="http://localhost:3000"
# openssl rand -base64 32
AUTH_SECRET="uqbLb1FDE1tvTZPWZPzhlZxmSFL36gbhkByA8Y1DhbM="

# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

DATABASE_URL="postgresql://postgres:123456@localhost:5432/teslo-shop?schema=public"